<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>首页</title>
    <link href="__PUBLIC__/index/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="__PUBLIC__/index/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <link href="__PUBLIC__/index/css/blog.css" rel="stylesheet">
    <script src="__PUBLIC__/index/assets/js/ie-emulation-modes-warning.js"></script>

  
  </head>
<body>
	 <div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">
          <a class="blog-nav-item active" href="{:url('Index/index')}">首页</a>
          {volist name="navres" id="vo"}
          <a class="blog-nav-item" href="{if condition="$vo['type'] eq 0"}
                                    {:url('lists/index',array('cateid'=>$vo['id']))}
                                    {else /}
                                    {:url('guest/index',array('cateid'=>$vo['id']))}
                                    {/if}">{$vo.catename}</a>
          {/volist}
          <!-- neq 不等于 -->
            {if condition="session('username') neq ''"}  
            <a class="blog-nav-item" href="#"><?php echo session('username');?>          
            </a>
            {else /}
            <a class="blog-nav-item" href="{:url('Index/login')}">登录</a>
            <a class="blog-nav-item" href="{:url('Index/register')}">注册</a>
            {/if}
          <a class="blog-nav-item" href="{:url('Index/logout')}">退出</a>


        </nav>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-8 blog-main">
            {volist name="articles" id="vo"}
            <div class="post multi-post cate2 auth1">
            <h4 class="post-date">{$vo.time}</h4>
            <h2 class="post-title"><a href="{:url('Article/index',array('id'=>$vo['id']))}">{$vo.title}</a></h2>
            <div class="post-body"><p>描述：{$vo.desc}</p>
            {if condition="$vo['pic'] neq ''"}  
            <p style="text-indent: 0em;"><a title="" target="_self" href="{:url('Article/index',array('id'=>$vo['id']))}"><img src="{$vo.pic}"/></a></p>
            {/if}
            </div>
            <h5 class="post-tags">关键词: <span class="tags">
            <?php
              $arr=explode(',', $vo['keywords']);
              foreach ($arr as $k => $v) {
                echo "<a href='http://myblog.com/index/Tags/index/tags/$v'>$v</a>";
                echo ' ';
              }
            ?>
            </span></h5>
            <h6 class="post-footer">
              发布:渣渣 | 分类:{$vo.catename} | 评论:6 | 浏览:{$vo.click} | 收藏:{$vo.like}  <a href="{:url('Article/index',array('id'=>$vo['id']))}">阅读全文 > </a>
            </h6>
            </div>
            {/volist}
          <div class="post pagebar">{$articles->render()}</div>
        </div>
      </div>
    </div>
</body>
</html>